<div class="row">
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-12">
        <a class="btn btn-link hidden" id="show-edition-toolbar-btn"><i class="fa fa-chevron-right fa-fw"></i></a>
        <div class="btn-toolbar" role="toolbar" id="edition-toolbar">
        	<div class="btn-group">
          		<a class="btn btn-link" id="hide-edition-toolbar-btn"><i class="fa fa-chevron-left fa-fw"></i></a>
          		<a class="btn btn-link" id="uncheck-btn"><i class="fa fa-square-o fa-fw"></i><span class="hidden-xs"> Deselect</span></a>          
          		<a class="btn btn-link" id="export-btn"><i class="fa fa-download fa-fw"></i><span class="hidden-xs"> Export</span></a>
          		<a class="btn btn-link" id="link-btn"><i class="fa fa-link fa-fw"></i><span class="hidden-xs"> Link</span></a>
        	</div>
        	<div class="btn-group">
          		<a class="btn btn-link dropdown-toggle" id="switch-btn" data-toggle="dropdown">
          			<span class="visible-xs-inline lvl-theme-color"><i class="fa fa-bug fa-fw"></i></span><span class="hidden-xs lvl-theme-color">Collection</span> <i class="fa fa-caret-down fa-fw"></i>
          		</a>
          		<ul class="dropdown-menu" role="menu">
          			<li><a href="#"><i class="fa fa-check fa-fw"></i> Sandfly</a></li>
          			<li><a href="#"><i class="fa fa-check fa-fw lvl-menu-color"></i> Leishmania</a></li>
          		</ul>
        	</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div id="grid-filter-toolbar"></div>
    <div id="lvl-qtip-growl-container"></div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div id="grid-container" class="backgrid-container"></div>
  </div>
</div>