<div class="row">
  <div class="col-xs-offset-6 col-xs-6">
    <div id="grid-filter-toolbar" class="hidden"></div>
  </div>
</div>

<div class="row">

  <div class="col-xs-12 lvl-search-terms-container"> <!-- TODO -->
    <span class="label label-success">source : genbank <a href="#" class="text-muted lvl-btn-close"><i class="fa fa-close fa-fw"></i></a></span>
    <span class="label label-success">gene : coi <a href="#" class="text-muted lvl-btn-close"><i class="fa fa-close fa-fw"></i></a></span>
    <span class="label label-success">length > 200 <a href="#" class="text-muted lvl-btn-close"><i class="fa fa-close fa-fw"></i></a></span>
    <span class="label label-warning">location : 122,90 <a href="#" class="text-muted lvl-btn-close"><i class="fa fa-close fa-fw"></i></a></span>
    <span class="label label-danger" id="lvl-reset-search">clear all <a href="#" class="text-muted lvl-btn-close"><i class="fa fa-close fa-fw"></i></a></span>
  </div>

  <div class="col-xs-12">
    <div id="grid-container" class="backgrid-container"></div>
  </div>
</div>