<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Copyright 2014 EUBrazilCC (EU‐Brazil Cloud Connect)

Licensed under the EUPL, Version 1.1 or - as soon they will be approved by 
the European Commission - subsequent versions of the EUPL (the "Licence");
You may not use this work except in compliance with the Licence.
You may obtain a copy of the Licence at:

  http://ec.europa.eu/idabc/eupl

Unless required by applicable law or agreed to in writing, software 
distributed under the Licence is distributed on an "AS IS" basis,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the Licence for the specific language governing permissions and 
limitations under the Licence.

This product combines work with different licenses. See the "NOTICE" text
file for details on the various modules and licenses.
The "NOTICE" text file is part of the distribution. Any derivative works
that you distribute must include a readable copy of the "NOTICE" text file.
-->
<configuration debug="false">
	
	<property name="LOG_FILES_LOCATION" value="/opt/lvl/var/log/lvl" />
	<property name="LOG_FILES_FILENAME" value="lvl-service" />

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILES_LOCATION}/${LOG_FILES_FILENAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_FILES_FILENAME}.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10 MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="eu.eubrazilcc.lvl" level="INFO" />
	<logger name="org.apache.activemq" level="WARN"/>
	<logger name="org.apache.activemq.spring" level="WARN"/>
	<logger name="org.apache.xbean.spring" level="WARN"/>
	<logger name="org.springframework.beans" level="WARN"/>

	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>

</configuration>