<!-- Footer -->
<footer class="text-center lvl-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h5>Supported by:</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="center-block">
					<ul class="list-inline">
						<li><a href="http://portal.fiocruz.br/" target="_blank"><img src="img/fiocruz.png" class="lvl-footer-logo" alt="FIOCRUZ"></a></li>
						<li><a href="http://www.isciii.es/" target="_blank"><img src="img/isciii.jpg" class="lvl-footer-logo" alt="ISCIII"></a></li>
						<li><a href="http://www.cria.org.br/" target="_blank"><img src="img/cria.jpg" class="lvl-footer-logo" alt="CRIA"></a></li>
						<li><a href="http://www.ncl.ac.uk/" target="_blank"><img src="img/unew.png" class="lvl-footer-logo" alt="UNEW"></a></li>						
						<li><a href="http://www.upv.es/" target="_blank"><img src="img/upv.png" class="lvl-footer-logo" alt="UPV"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-xs-12">
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="center-block">
					<ul class="list-inline">
						<li><a href="http://ec.europa.eu/" target="_blank"><img src="img/eu-comission.png" class="lvl-footer-logo" alt="European Commission"></a></li>
						<li><a href="http://www.cnpq.br/" target="_blank"><img src="img/cnpq.png" class="lvl-footer-logo" alt="CNPq"></a></li>
						<li><a href="http://www.mct.gov.br/" target="_blank"><img src="img/mcti.png" class="lvl-footer-logo" alt="MCTI-Brazil"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<nav>
					<ul class="list-inline">
						<li><a href="/#about">About</a></li>
						<li>&middot;</li>
						<li><a href="#" id="privacy_policy_btn">Privacy Policy</a></li>
						<li>&middot;</li>
						<li><a href="#" id="terms_and_conditions_btn">Terms &amp; Conditions</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>Copyright &copy; 2015 <a href="http://www.eubrazilcloudconnect.eu/" target="_blank">EUBrazilCC</a>, Licensed under the 
					<a href="https://joinup.ec.europa.eu/software/page/eupl" target="_blank">European Union Public Licence (EUPL)</a>.
				</p>
			</div>
		</div>
	</div>  
</footer>