<!-- Top navigation bar -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/#home">L<span class="text-danger">ei</span>sh VirtLab</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" id="btnAlerts"><i class="fa fa-bell fa-fw"></i> Alerts <span class="badge">12</span></a></li>
        		<li><a href="/#logout" id="btnSignOut"><i class="fa fa-sign-out fa-fw"></i> Sign out</a></li>
			</ul>
			
			
			<!-- <div class="btn-group">
              <a class="btn btn-default" href="#"><i class="fa fa-user fa-fw"></i> User</a>
              <a class="btn btn-group dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="fa fa-caret-down"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
                <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
                <li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="i"></i> Make admin</a></li>
              </ul>
            </div> -->

			
			<form class="navbar-form navbar-left" role="form-navigation">
				<div class="form-group">
          			<div id="section-navigation"></div>
        		</div>
			</form>			
		</div>
	</div>
</nav>