<div class="container lvl-main-container">
  <div id="alertBox" class="row text-center hidden">
    <div class="col-xs-12">
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>Sorry!</strong> <%= alertMessage() %> Please, login and try again.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-12">
      <div class="well">
        <form class="form-horizontal" id="signinForm" autocomplete="on" novalidate="novalidate">
          <fieldset>
            <legend class="text-center">Sign in to <a href="/#home" >L<span class="text-danger">ei</span>sh VirtLab</a></legend>
            <div class="form-group">
              <label for="login-email" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-10">
                <input type="email" class="form-control" id="login-email" placeholder="Enter email" name="login-email" required autofocus>
              </div>
            </div>
            <div class="form-group">
              <label for="login-pass" class="col-lg-2 control-label">Password</label>
              <div class="col-lg-10">
                <input type="password" class="form-control" id="login-pass" placeholder="Password" name="login-pass" required>                
              </div>
            </div>            
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="login-remember" checked="checked" data-toggle="checkbox"> Remember me
                  </label>
                </div>
              </div>
            </div>            
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-lg btn-primary" id="submit-login-button">Sign in</button> &nbsp;
                <a href="#" class="btn btn-lg btn-default" role="button" id="signup_linkedin_btn">
                  Sign in with Linked<i class="fa fa-linkedin-square" style="color:#0077b5;"></i><sub>&reg;</sub>
                </a>                           
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <ul class="list-inline">
                  <li><a class="login-link" href="/#account/recovery">Lost your password?</a></li>
                  <li>&middot;</li>
                  <li>Don't have an account yet? <a class="login-link" href="/#register"><i class="fa fa-sign-in"></i> Sign up <strong>now</strong>.</a></li>
                </ul>               
              </div>
            </div>
          </fieldset>
        </form>
      </div>      
    </div>
  </div>
</div>