  <!-- Content -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 lvl-top lvl-toolbar-bottom">
        <div class="row">
          <div class="col-md-7 col-md-offset-2 col-xs-12">
            <ul class="list-inline lvl-ul-centered">
              <li><a href="#">Root</a></li>
              <li><i class="fa fa-caret-right"></i></li>
              <li><a href="#">Folder X</a></li>
              <li><i class="fa fa-caret-right"></i></li>
              <li>Folder Y</li>
            </ul>
          </div>
          <div class="col-md-3 col-xs-12 hidden-xs">
            <!-- Toolbar -->
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group pull-right">
                <button ng-click="toggleTopEntries()" ng-class="{true: 'active'}[isTopEntriesVisible]" type="button" class="btn btn-default active" tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="Top entries"><i class="fa fa-comments"></i></button>
              </div>
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="Reset filters"><i class="fa fa-refresh"></i></button>
                <button type="button" class="btn btn-default" tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="Export CSV"><i class="fa fa-download"></i></button>            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" toggle-grid="isTopEntriesVisible" toggle-grid-duration="2000">
      <!-- Left navigation -->
      <div class="col-md-2 lvl-top">
        <div class="lvl-sidebar-nav">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".lvl-sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="visible-sm visible-xs navbar-brand">File store</span>
            </div>
            <div class="navbar-collapse collapse lvl-sidebar-navbar-collapse">              
              <ul class="nav navbar-nav">
                <li class="active"><a href="#"><i class="fa fa-caret-right"></i>My files</a></li>
                <li><a href="#"><i class="i"></i>Shared with Me <span class="badge">2</span></a></li>
                <li><a href="#"><i class="i"></i>Sequences</a></li>
                <li><a href="#"><i class="i"></i>Protocols</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Main content -->
      <div id="complement" class="col-md-7 col-xs-12 lvl-top">              
        <!-- Files -->
        <div class="table-responsive">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Filename <div class="btn-group"><a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" href="#" target="_self"><span class="fa fa-sort-asc"></span></a></div></th>
                <th>Owner</th>
                <th>Last modified</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="lvl-file"><i class="fa fa-folder"></i> <a href="#/protocols/12">My Protocols</a></td>
                <td>User 1</td>
                <td>3/08/14</td>
              </tr>
              <tr>
                <td class="lvl-file"><i class="fa fa-folder"></i> <a href="#">My Sequences</a></td>
                <td>User 1</td>                
                <td>3/08/14</td>
              </tr>
              <tr>
                <td class="lvl-file"><i class="fa fa-sitemap"></i> <a href="#">Example protocol</a></td>
                <td>User 1</td>                
                <td>3/08/14</td>
              </tr>
              <tr>
                <td class="lvl-file"><i class="fa fa-file"></i> <a href="#">Example unknown file</a></td>
                <td>User 1</td>                
                <td>3/08/14</td>
              </tr>
              <tr>
                <td class="lvl-file"><i class="fa fa-bug"></i> <a href="#">Pending Sequence ABee34r</a></td>
                <td>User 2</td>                
                <td>3/10/14</td>
              </tr>
              <tr>
                <td class="lvl-file"><i class="fa fa-bug"></i> <a href="#">Sequence 2</a></td>
                <td>User 3</td>                
                <td>2/21/14</td>
              </tr>
            </tbody>
          </table>
        </div>       
      </div>
      <!-- Top entries -->
      <script type="text/ng-template" id="entryTemplate.html">
          <div class="media">
            <a class="thumbnail pull-left" href="#/user/profile/{{user.username}}">
              <img class="media-object" src="https://www.gravatar.com/avatar/53f455aea79b19eaca5d54a35390bd49?s=80">
            </a>
            <div class="media-body">              
              <h4 class="media-heading">{{user.fullname}} (<a href="#/user/profile/{{user.username}}">{{user.username}}</a>)</h4>              
              <p><span class="label label-info" tooltip="following"><i class="fa fa-eye fa-fw"></i> {{user.following}}</span> <span class="label label-primary" tooltip="followers"><i class="fa fa-users fa-fw"></i> {{user.followers}}</span></p>
              <p>
                <a href="#" class="btn btn-xs btn-default" tooltip="message"><i class="fa fa-comment fa-fw"></i></a>
                <a href="#" class="btn btn-xs btn-default" tooltip="favorite"><i class="fa fa-heart fa-fw"></i></a>
                <a href="#" class="btn btn-xs btn-default" tooltip="unfollow"><i class="fa fa-ban fa-fw"></i></a>
              </p>
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, aliquet massa... <a href="#">read more</a></p>
      </script>
      <div id="toggleable" class="col-md-3 col-xs-12 hidden-xs lvl-top lvl-left-border">
        <button ng-click="toggleTopEntries()" type="button" class="close" aria-hidden="true">&times;</button>
        <p><b>Top entries</b></p>
        <p class="lvl-activity"><i class="fa fa-quote-left fa-1x pull-left fa-border"></i><a href html-popover popover-placement="left" popover-trigger="click" popover-template='entryTemplate.html'>New protocol announced</a></p>
        <p class="lvl-activity"><i class="fa fa-quote-left fa-1x pull-left fa-border"></i> <span class="label label-primary">New</span> <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></p>
        <p class="lvl-activity"><i class="fa fa-quote-left fa-1x pull-left fa-border"></i><a href="#">Integer posuere erat a ante</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-7 col-xs-12">
        <ul class="pagination">
          <li><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>