  <!-- Jumbotron -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div ng-class="style1">
          <h1>Leishmaniasis Virtual Laboratory</h1>
          <p>Leishmaniasis is one of the world’s most neglected diseases with 1-2 million new cases per year. Our Leishmaniasis Virtual Lab will enable public health workers to access information and data to anticipate outbreaks.</p>
          <p><a class="btn btn-primary btn-lg" href="#/files" role="button">Start using it &raquo;</a></p>      
        </div>
        <div ng-class="style2" ng-show="!isAuthenticated">
          <div class="panel panel-success">
            <div class="panel-body">
              <form class="form-signup" role="form" autocomplete="off">
                <div class="form-group">
                  <label for="username">Choose a username</label>
                  <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                    <input ng-model="user.username" id="username" name="username" type="text" class="form-control" placeholder="Enter username" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="email">Enter your email address</label>
                  <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                    <input ng-model="user.email" id="email" name="email" type="email" class="form-control" placeholder="Enter email" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="password">Choose a password</label>
                  <div class="input-group">                  
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    <input ng-model="user.password" id="password" name="password" type="password" class="form-control" placeholder="Enter password" required>
                  </div>
                </div>                
                <button ng-click="signup()" class="btn btn-lg btn-success btn-block" type="submit">Sign up for Leish VirtLab</button>
                <div>
                  <br>
                  By signing up you are agreeing to our <a href="#">Privacy Policy</a> and <a href="#">Terms &amp; Conditions</a>.
                </div>                
              </form>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
  <!-- Content -->
  <div class="container">
    <!-- Small panels -->
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-thumbs-up"></span> Leish community</h3>
          </div>
          <div class="panel-body">
            <p>Get access to information and communicate with colleagues in a common space, share files, protocols, etc.</p>
            <p><a class="btn btn-primary" href="#" role="button">Learn more &raquo;</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-cloud-download"></span> Leishmania &amp; sand fly collection</h3>
          </div>
          <div class="panel-body">      
            <p>Built with data from on-line databases (<a href="http://clioc.fiocruz.br/" target="_blank">Fiocruz-CLIOC</a>, 
               <a href="http://colfleb.fiocruz.br/" target="_blank">Fiocruz-COLFLEB</a>) and local repositories provided by 
               <a href="http://www.isciii.es/" target="_blank">ISCIII-WHO-CCL</a>.</p>
            <p><a class="btn btn-primary" href="#/map" role="button">Learn more &raquo;</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-tasks"></span> Molecular analysis</h3>
          </div>
          <div class="panel-body"> 
            <p>Support on analysis and output interpretation. Share your experiments to be referenced on publications.</p>
            <p><a class="btn btn-primary" href="#" role="button">Learn more &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Text example -->
    <div class="row">
      <div class="col-xs-12">
        <hr />
        <h4>Header 1</h4>
        <p>Sed nec fringilla augue, sit amet rhoncus nisi. Donec bibendum est sit amet enim facilisis ullamcorper. In sed elit diam. Donec vel dignissim erat, eu aliquet ipsum. Nulla facilisi. Nunc feugiat rutrum odio, congue fermentum magna aliquet eu. Maecenas malesuada arcu ultricies enim venenatis, in adipiscing nunc fringilla. Suspendisse suscipit placerat urna, ac tempor turpis egestas sed.</p>
        <hr />
        <h4>Header 2</h4>
        <p>Nulla aliquam urna a purus rhoncus pellentesque. Vivamus scelerisque dui a pretium dictum. Mauris vulputate risus neque, ac facilisis dolor rutrum quis. Donec egestas, purus nec elementum porttitor, felis turpis fermentum mi, in volutpat magna nunc sed est.</p>
        <hr />
        <h4>Header 3</h4>
        <p>Etiam vitae massa ac est aliquet tincidunt sed a enim. Fusce tincidunt sem vel tristique pharetra. Maecenas ornare felis purus, vel scelerisque sem eleifend non. Maecenas non augue vel leo convallis blandit vitae et ante. Ut imperdiet iaculis enim, mollis mollis metus elementum eu. Vivamus facilisis ultricies leo at pretium. Mauris tempor nec felis at feugiat. Donec nec faucibus quam, ac sagittis turpis.</p>                
      </div>
    </div>
    <!-- Table example with pagination -->
    <div class="row">
      <div class="col-xs-12">
        <hr />
        <h4>Table example with pagination</h4>
        <div class="table-responsive">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Table Header</th>
                <th>Table Header</th>
                <th>Table Header</th>
                <th>Table Header</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Content Goes Here</td>
                <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                <td>Content Goes Here</td>
                <td>Content Goes Here</td>
              </tr>
              <tr>
                <td>Content Goes Here</td>
                <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                <td>Content Goes Here</td>
                <td>Content Goes Here</td>
              </tr>
              <tr>
                <td>Content Goes Here</td>
                <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                <td>Content Goes Here</td>
                <td>Content Goes Here</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="pagination">
          <li><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>
    <!-- Map example
    <div class="row">
      <div class="col-xs-12">
        <hr />
        <h4>Map example</h4>
        <!-- Europe: lat="40.4169" lon="3.7036"
        <div ol-map lat="40.25" lon="3.42" zoom="5.5">
          <div id="map" class="map"></div>
        </div>
      </div>
    </div> -->
    <!-- Final row -->
    <div class="row">
      <div class="col-xs-12">
        <hr />
        <p>Final row</p>
      </div>
    </div>
  </div>