<!-- Content -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 lvl-top lvl-toolbar-bottom">
        <div class="row">          
          <div class="col-md-4 col-xs-12 hidden-xs">
            <div class=" lvl-ul-centered">
              <p>Map name</p>
            </div>
          </div>
          <div class="col-md-8 col-xs-12">
            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
              <span ng-bind-html="alert.msg"></span>
            </alert>
            <!-- Toolbar -->
            <div class="btn-toolbar" role="toolbar">              
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="Open"><i class="fa fa-folder-open"></i></button>
                <button type="button" class="btn btn-default" tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="Save"><i class="fa fa-floppy-o"></i></button>
                <a id="export-png" download="map.png" class="btn btn-default" role="button" tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="Export PNG"><i class="fa fa-download"></i></a>
                <button type="button" class="btn btn-default" tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="Share"><i class="fa fa-share"></i></button>                           
              </div>
              <div class="btn-group pull-right">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" target="_self" tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="Append layer"><i class="fa fa-globe fa-fw"></i>
                <span class="fa fa-caret-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><i class="fa fa-map-marker fa-fw"></i> Layer 1</a></li>
                  <li><a href="#"><i class="fa fa-map-marker fa-fw"></i> Layer 2</a></li>
                  <li class="divider"></li>
                  <li><a href="#"><i class="fa fa-map-marker fa-fw"></i> Layer 3</a></li>
                </ul>            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 lvl-top">        
        <div id="map" class="map"></div>      
    </div>
  </div>