<!-- Content -->
<div class="container">  

  <div class="row">
    <div class="col-xs-12">
      <h3>Sequences <small>all published<sup><a href popover-append-to-body="true" popover-placement="right" popover="Sequences were extracted from public databases or supplied by the user."><i class="fa fa-question-circle fa-fw"></i></a></sup></small></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 lvl-grid-bottom">
      <div class="lvl-grid" ng-grid="gridOptions" ng-style="style()" resize-height-offset="178" resize></div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group btn-group-md btn-group-justified">
        <a href="#" class="btn btn-primary">              
          <i class="fa fa-plus fa-fw"></i><br />
          Add
        </a>        
        <a ng-href="#/sequences/{{selectedSequences[0].accession}}/delete" class="btn btn-primary" ng-class="{ 'disabled': selectedSequences.length != 1 }">
          <i class="fa fa-minus fa-fw"></i><br />
          Delete
        </a>
        <a ng-href="#/sequences/{{selectedSequences[0].accession}}/edit" class="btn btn-primary" ng-class="{ 'disabled': selectedSequences.length != 1 }">
          <i class="fa fa-pencil-square-o fa-fw"></i><br />
          Edit
        </a>
        <a href="#" class="btn btn-primary">
          <i class="fa fa-filter fa-fw"></i><br />
          Filter
        </a>
        <a ng-href="#/sequences/{{selectedSequences[0].accession}}/link" class="btn btn-primary" ng-class="{ 'disabled': selectedSequences.length != 1 }">
          <i class="fa fa-link fa-fw"></i><br />
          Link
        </a>
        <a ng-href="#/sequences/{{selectedSequences[0].accession}}/export" class="btn btn-primary" ng-class="{ 'disabled': selectedSequences.length != 1 }">
          <i class="fa fa-download fa-fw"></i><br />
          Export
        </a>
      </div>
    </div>
  </div>

</div>