<!-- Content -->
<div class="container">  

  <!-- Main layout -->
  <div class="row">
    <div class="col-xs-12">
    
      <!-- Header -->
      <div class="row">
        <div class="col-md-9 col-xs-12">
          <div class="row">
            <div class="col-xs-8">              
              <h3>Sequences <small>all published<sup><a href tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="Sequences imported from public databases or supplied by the user"><i class="fa fa-question-circle fa-fw"></i></a></sup></small></h3>
            </div>
            <div class="col-xs-4">            
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-link lvl-top-h3" ng-click="toggleTools()" tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="tools"><i class="fa fa-wrench fa-fw"></i><i class="fa fa-fw" ng-class="{ 'fa-caret-up': showTools, 'fa-caret-down': !showTools }"></i></button>
                <button type="button" class="btn btn-link dropdown-toggle lvl-top-h3" data-toggle="dropdown" tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="options">
                  <i class="fa fa-table fa-fw"></i><i class="fa fa-caret-down fa-fw"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#/sequences/my_sequences">My sequences</a></li>                    
                  <li><a href="#/sequences/shared">Shared with Me <span class="badge">2</span></a></li>
                  <li class="divider"></li>
                  <li><a href="#/sequences">All published</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-link lvl-top-h3" ng-click="toggleNotifications()" tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="news"><i class="fa fa-comments-o fa-fw"></i><i class="fa fa-fw" ng-class="{ 'fa-caret-up': showNotifications, 'fa-caret-down': !showNotifications }"></i></button>
          </div>
        </div>
      </div> <!-- Header -->
      
      <!-- Main container -->
      <div class="row">
      
        <!-- Grid -->
        <div class="col-xs-12 lvl-animate-class" refresh-grid="dataGrid" refresh-grid-trigger="showNotifications" ng-class="{ 'col-md-9': showNotifications, 'col-md-12': !showNotifications }">
          
          <!-- Toolbar -->
          <div class="row" ng-show="showTools">
            <!-- Search toolbar -->
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-6">
                  <form class="form-inline pull-left lvl-inline-form-bottom" role="form">
                    <div class="form-group">
                      <label for="itemsPerPage">Items per page</label>
                      <select class="form-control" id="itemsPerPage" ng-options="i.size for i in pageSizes" ng-model="pageSize" ng-change="reload()"></select>                      
                    </div>
                  </form>
                </div>              
                <div class="col-xs-6">
                  <form class="form-inline pull-right lvl-inline-form-bottom" role="form">
                    <div class="form-group">
                      <label for="search">Search</label>
                      <input type="text" class="form-control" id="search" placeholder="Search">
                    </div>
                  </form>
                </div>
              </div>
	        </div> <!-- Search tool -->
	        
	        <!-- Edition toolbar -->
	        <div class="col-xs-12">
              <div class="btn-group btn-group-md btn-group-justified">
                <a href="#" class="btn btn-primary">              
                  <i class="fa fa-plus fa-fw"></i><br />
                  Add
                </a>        
                <a ng-href="#/sequences/{{selectedSequences[0].accession}}/delete" class="btn btn-primary" ng-class="{ 'disabled': selectedSequences.length != 1 }">
                  <i class="fa fa-minus fa-fw"></i><br />
                  Delete
                </a>
                <a ng-href="#/sequences/{{selectedSequences[0].accession}}/edit" class="btn btn-primary" ng-class="{ 'disabled': selectedSequences.length != 1 }">
                  <i class="fa fa-pencil fa-fw"></i><br />
                  Edit
                </a>
                <a href="#" class="btn btn-primary">
                  <i class="fa fa-filter fa-fw"></i><br />
                  Filter
                </a>
                <a ng-href="#/sequences/{{selectedSequences[0].accession}}/link" class="btn btn-primary" ng-class="{ 'disabled': selectedSequences.length != 1 }">
                  <i class="fa fa-link fa-fw"></i><br />
                  Link
                </a>
                <a ng-href="#/sequences/{{selectedSequences[0].accession}}/export" class="btn btn-primary" ng-class="{ 'disabled': selectedSequences.length != 1 }">
                  <i class="fa fa-download fa-fw"></i><br />
                  Export
                </a>
              </div>
            </div> <!-- Edition toolbar -->
	      </div> <!-- Toolbar -->               
        
          <!-- Table -->
          <div class="row">
            <div class="col-xs-12">
              <div id="dataGrid">
                <table class="table table-condensed table-striped table-hover table-bordered">
                  <thead>
                    <tr>
                      <th>Accession</th>
                      <th>Actions</th>                      
                      <th>Version</th>
                      <th>Source</th>
                      <th>Definition</th>
                      <th>Organism</th>
                      <th>Country</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <td colspan="7">
                        Showing {{sequences.length}} sequences
                      </td>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr ng-repeat="seq in sequences">
                      <td><a ng-href="http://localhost:8000/#/sequence/{{seq.accession}}">{{seq.accession}}</a></td>
                      <td><a ng-href="#/sequences/{{seq.accession}}/edit" tooltip-append-to-body="true" tooltip-placement="right" tooltip="edit"><i class="fa fa-pencil-square-o fa-fw"></i></a>
		                  <a ng-href="#/sequences/{{seq.accession}}/delete" tooltip-append-to-body="true" tooltip-placement="right" tooltip="delete"><i class="fa fa-trash-o fa-fw"></i></a></td>
                      <td>{{seq.version}}</td>
                      <td>{{seq.dataSource}}</td>
                      <td>{{seq.definition}}</td>
                      <td>{{seq.organism}}</td>
                      <td><div ng-bind-html="seq.locale | countryflag"></div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div> <!-- Table -->
          
          <!-- Pagination -->
          <div class="row">
            <div class="col-xs-12">
              <div class="text-center">
                <pagination ng-change="reload()" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" max-size="maxSize" boundary-links="true" rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
              </div>
            </div>
          </div> <!-- Pagination -->
          
        </div> <!-- Grid -->
      
        <!-- OLD Grid
        <div class="col-xs-12 lvl-grid-bottom lvl-animate-class" refresh-grid="dataGrid" refresh-grid-trigger="showNotifications" ng-class="{ 'col-md-9': showNotifications, 'col-md-12': !showNotifications }">
        
          <div class="row">
            <div class="col-xs-12">
              <div id="dataGrid" class="lvl-grid" ng-grid="gridOptions" ng-style="style()" resize-height-offset="178" resize></div>
            </div>
          </div>          
          
          <div class="row">
            <div class="col-xs-12">
              <div class="btn-group btn-group-md btn-group-justified">
                <a href="#" class="btn btn-primary">              
                  <i class="fa fa-plus fa-fw"></i><br />
                  Add
                </a>        
                <a ng-href="#/sequences/{{selectedSequences[0].accession}}/delete" class="btn btn-primary" ng-class="{ 'disabled': selectedSequences.length != 1 }">
                  <i class="fa fa-minus fa-fw"></i><br />
                  Delete
                </a>
                <a ng-href="#/sequences/{{selectedSequences[0].accession}}/edit" class="btn btn-primary" ng-class="{ 'disabled': selectedSequences.length != 1 }">
                  <i class="fa fa-pencil fa-fw"></i><br />
                  Edit
                </a>
                <a href="#" class="btn btn-primary">
                  <i class="fa fa-filter fa-fw"></i><br />
                  Filter
                </a>
                <a ng-href="#/sequences/{{selectedSequences[0].accession}}/link" class="btn btn-primary" ng-class="{ 'disabled': selectedSequences.length != 1 }">
                  <i class="fa fa-link fa-fw"></i><br />
                  Link
                </a>
                <a ng-href="#/sequences/{{selectedSequences[0].accession}}/export" class="btn btn-primary" ng-class="{ 'disabled': selectedSequences.length != 1 }">
                  <i class="fa fa-download fa-fw"></i><br />
                  Export
                </a>
              </div>
            </div>
          </div>
        </div> Grid -->
        
        <!-- Notifications -->
        <div class="col-md-3 hidden-sm hidden-xs lvl-grid-bottom lvl-animate-show" ng-show="showNotifications">
         
            <div class="media">
              <a href class="thumbnail pull-left" html-popover html-popover-placement="left" html-popover-trigger="click" html-popover-template='shortProfileTemplate.html'>
                <img class="media-object" src="https://www.gravatar.com/avatar/53f455aea79b19eaca5d54a35390bd49?s=40&r=g&d=mm" height="40" width="40">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Welcome</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#"><i class="fa fa-external-link fa-fw"></i></a>
              </div>
            </div>
            
            <div class="media">
              <a href class="thumbnail pull-left" html-popover html-popover-placement="left" html-popover-trigger="click" html-popover-template='shortProfileTemplate.html'>
                <img class="media-object" src="https://www.gravatar.com/avatar/53f455aea79b19eaca5d54a35390bd49?s=40&r=g&d=mm" height="40" width="40">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                <span class="label label-primary">New</span> Fusce vehicula odio vitae bibendum condimentum. <a href="#"><i class="fa fa-external-link fa-fw"></i></a>
              </div>
            </div>
          
        </div> <!-- Notifications -->
        
      </div>
    
    </div>
  </div> <!-- Main layout -->

</div>