<!-- Content -->
<div class="container">

  <!-- Toolbar (shown in extra-small to small devices) -->
  <div class="row">
    <div class="col-xs-12 hidden-md hidden-lg lvl-top lvl-toolbar-bottom">
      <div class="btn-group">
        <button go-click="/settings" type="button" class="btn btn-primary"><i class="fa fa-cog fa-fw"></i></button>
        <div class="btn-group">        
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-users fa-fw"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#/settings/users/active"><i class="fa fa-user fa-fw"></i> Active</a></li>
            <li><a href="#/settings/users/inactive"><i class="fa fa-ban fa-fw"></i> Inactive</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bug fa-fw"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#/settings/sequences/public"><i class="fa fa-unlock fa-fw"></i> Public</a></li>
            <li><a href="#/settings/sequences/private"><i class="fa fa-lock fa-fw"></i> Private</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-file-text fa-fw"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#/settings/papers/open_access"><i class="fa fa-unlock-alt fa-fw"></i> Open access</a></li>
            <li><a href="#/settings/papers/non_free"><i class="fa fa-money fa-fw"></i> Non free</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell fa-fw"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#/settings/issues/tasks"><i class="fa fa-tasks fa-fw"></i> Tasks</a></li>
            <li><a href="#/settings/issues/errors"><i class="fa fa-exclamation-triangle fa-fw"></i> Errors</a></li>
          </ul>
        </div>       
      </div>
    </div>
  </div> <!-- Toolbar (shown in extra-small to small devices) -->

  <div class="row">
  
    <!-- Left column (medium to large devices) -->
    <div class="col-md-2 hidden-sm hidden-xs lvl-top">
        
      <!-- Sidebar navigation menu -->
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><a href="#/settings"><i class="fa fa-cog fa-fw"></i> Control panel</a></h3>
            </div>
          </div>
          <accordion close-others="false">        
            <accordion-group is-open="isUsersOpen">
              <accordion-heading>
                Users <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isUsersOpen, 'glyphicon-chevron-right': !isUsersOpen}"></i>
              </accordion-heading>
              <p class="lvl-sidebar"><a href="#/settings/users/active"><i class="fa fa-user fa-fw"></i> Active</a></p>
              <p class="lvl-sidebar"><a href="#/settings/users/inactive"><i class="fa fa-ban fa-fw"></i> Inactive</a></p>
            </accordion-group>
            <accordion-group is-open="isSequencesOpen">
              <accordion-heading>
                Sequences <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isSequencesOpen, 'glyphicon-chevron-right': !isSequencesOpen}"></i>
              </accordion-heading>
              <p class="lvl-sidebar"><a href="#/settings/sequences/public"><i class="fa fa-unlock fa-fw"></i> Public</a></p>
              <p class="lvl-sidebar"><a href="#/settings/sequences/private"><i class="fa fa-lock fa-fw"></i> Private</a></p>
            </accordion-group>            
            <accordion-group is-open="isPapersOpen">
              <accordion-heading>
                Papers <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isPapersOpen, 'glyphicon-chevron-right': !isPapersOpen}"></i>
              </accordion-heading>
              <p class="lvl-sidebar"><a href="#/settings/papers/open_access"><i class="fa fa-unlock-alt fa-fw"></i> Open access</a></p>
              <p class="lvl-sidebar"><a href="#/settings/papers/non_free"><i class="fa fa-money fa-fw"></i> Non free</a></p>
            </accordion-group>
            <accordion-group is-open="isIssuesOpen">
              <accordion-heading>
                Issues <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isIssuesOpen, 'glyphicon-chevron-right': !isIssuesOpen}"></i>
              </accordion-heading>
              <p class="lvl-sidebar"><a href="#/settings/issues/tasks"><i class="fa fa-tasks fa-fw"></i> Tasks</a></p>
              <p class="lvl-sidebar"><a href="#/settings/issues/errors"><i class="fa fa-exclamation-triangle fa-fw"></i> Errors</a></p>
            </accordion-group>
          </accordion>
          
          <div class="panel panel-default" ng-show="isTipsVisible">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-8">
                  <h3 class="panel-title"><i class="fa fa-lightbulb-o fa-fw"></i> Tips</h3>  
                </div>
                <div class="col-xs-4">
                  <button ng-click="isTipsVisible = !isTipsVisible" type="button" class="close" aria-hidden="true">&times;</button>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <p><small>You can do live search to the widget at search box located at top bar. It's very useful if your dashboard is full of widget.</small></p>
              <p class="text-right"><a href="#">Next tip <i class="fa fa-arrow-circle-right"></i></a></p>
            </div>
          </div>
        </div>  
      </div>
    </div> <!-- Left column (medium to large devices) -->
    
    <!-- Right column -->
    <div class="col-md-10 col-xs-12 lvl-top">
      
      <div ng-include="getTemplate()"></div>
      
    </div> <!-- Right column -->
    
  </div>  
</div> <!-- Content -->