  <!-- Content -->  
  <div class="container">
    <div class="lvl-container">
      <div class="row" ng-show="showAlert">
        <div class="col-xs-12">
          <div class="alert alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4>Account validation failed</h4>
            <p>Check that the email you entered coincides with the email address that you provided during 
               registration, check your activation code and try again.</p>
            <p>
              <button ng-click="resend()" type="button" class="btn btn-danger">Send code again</button>
              <button ng-click="showAlert=false" type="button" class="btn btn-default">Close</button>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>Registration successful</h3>
          <p>Thank you for registering at Leishmaniasis Virtual Laboratory. An email has been sent to you 
             with a code which you may use to activate your account. Please, check your mailbox and enter
             the code below. Sometimes this can be marked as Spam so check your filtered folder too. If 
             nothing has arrived within 5 minutes click <a href ng-click="resend()">here</a> and we will 
             send you the code again.</p>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-md-offset-4 col-md-4 col-xs-offset-2 col-xs-8"> -->
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <form role="form" autocomplete="off">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input ng-model="user.email" type="email" class="form-control" id="email" placeholder="Enter email" required>
                  <span class="help-block">The email address that you provided during registration.</span>
                </div>
                <div class="form-group">
                  <label for="code">Activation code</label>
                  <input ng-model="user.code" type="text" class="form-control" id="code" placeholder="Enter activation code" required autofocus>
                  <span class="help-block">The 6-12 characters code that has been sent to you by email.</span>
                </div>
                <button ng-click="activate()" type="submit" class="btn btn-default">Activate</button>
              </form>
            </div>
          </div>
        </div>         
      </div>
    </div>
  </div>