  <!-- Content -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 lvl-top">
        <div class="well well-sm">
          <div class="media">
            <a class="thumbnail pull-left" href="#/user/profile/{{user.username}}">
              <img class="media-object" src="{{user.pictureUrl}}" height="80" width="80">
            </a>
            <div class="media-body">              
              <h4 class="media-heading">{{user.fullname}} (<a href="#/user/profile/{{user.username}}">{{user.username}}</a>)</h4>              
              <p><span class="label label-info">{{user.following}} following</span> <span class="label label-primary">{{user.followers}} followers</span></p>
              <p>
                <a href="#" class="btn btn-xs btn-default"><i class="fa fa-comment fa-fw"></i> Message</a>
                <a href="#" class="btn btn-xs btn-default"><i class="fa fa-heart fa-fw"></i> Favorite</a>
                <a href="#" class="btn btn-xs btn-default"><i class="fa fa-ban fa-fw"></i> Unfollow</a>
                <a style="color:black" href="" ng-click="isProfileDetailsVisible=!isProfileDetailsVisible"><i ng-class="['fa', (isProfileDetailsVisible ? 'fa-caret-up' : 'fa-caret-down'), 'fa-fw']"></i></a>
              </p>
            </div>
          </div>
          <div ng-show="isProfileDetailsVisible">
            <p>
              <i class="fa fa-map-marker fa-fw"></i> Valencia, Spain<br/>
              <i class="fa fa-clock-o fa-fw"></i> Joined on Jan 2011<br/>
              <em><i class="fa fa-angle-double-left"></i> Computer scientist and open source software developer <i class="fa fa-angle-double-right"></i></em>           
            </p>
          </div>
        </div>
      </div>
	</div>
  </div>