  <!-- Footer -->
  <footer class="text-center lvl-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h5>Supported by:</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="col-md-4 col-xs-12">
            <div class="center-block">
              <a href="http://portal.fiocruz.br/" target="_blank"><img src="img/fiocruz.png" class="lvl-footer-logos" alt="FIOCRUZ"></a>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <a href="http://www.isciii.es/" target="_blank"><img src="img/isciii.jpg" class="lvl-footer-logos" alt="ISCIII"></a>
          </div>
          <div class="col-md-4 col-xs-12">
            <a href="http://www.upv.es/" target="_blank"><img src="img/upv.png" class="lvl-footer-logos" alt="UPV"></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <nav>
            <ul class="list-inline">
              <li><a href="/#about-us">About Us</a></li>
              <li>&middot;</li>
              <li><a href="#" id="privacy_policy_btn">Privacy Policy</a></li>
              <li>&middot;</li>
              <li><a href="#" id="terms_and_conditions_btn">Terms &amp; Conditions</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>Copyright &copy; 2014 <a href="http://www.eubrazilcloudconnect.eu/" target="_blank">EUBrazilCC</a>, Licensed
            under the <a href="https://joinup.ec.europa.eu/software/page/eupl" target="_blank">European Union Public Licence (EUPL)</a>.
          </p>
        </div>
      </div>
    </div>
  </footer>