  <!-- Footer -->
  <footer class="text-center lvl-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <nav>
            <ul class="list-inline">
              <li><a href="/#about-us">About Us</a></li>
              <li>&middot;</li>
              <li><a href="#" id="privacy_policy_btn">Privacy Policy</a></li>
              <li>&middot;</li>
              <li><a href="#" id="terms_and_conditions_btn">Terms &amp; Conditions</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>Copyright &copy; 2014 <a href="http://www.eubrazilcloudconnect.eu/" target="_blank">EUBrazilCC</a>, Licensed
            under the <a href="https://joinup.ec.europa.eu/software/page/eupl" target="_blank">European Union Public Licence (EUPL)</a>.
          </p>
        </div>
      </div>
    </div>
  </footer>