  <!-- Custom jumbotron -->
  <div class="container-fluid lvl-main-container">    
    <div class="row">
      <div class="col-xs-12 text-center lvl-jumbo">
        <div class="row">
          <div class="col-md-offset-2 col-md-8 col-xs-12">                       
            <h1 class="hidden-xs">Leishmaniasis Virtual Laboratory</h1>
            <h2 class="hidden-sm hidden-md hidden-lg">Leishmaniasis Virtual Laboratory</h2>
            <h4>L<span class="text-danger">ei</span>shVL</h4>            
            <h5 style="margin: 0px; padding: 15px 0px 30px;">Join now to gain access to an open, collaborative research environment for leishmaniasis</h5>
            <a href="/#collection" class="btn btn-primary btn-lg">
              <span class="fa-stack fa-lg fa-fw">
                <i class="fa fa-circle-o fa-stack-2x"></i>
                <i class="fa fa-cloud fa-stack-1x"></i>
              </span><i></i> Start using it <i class="fa fa-chevron-right fa-lg fa-fw"></i>
            </a>
            <p>&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row lvl-social">      
      <div class="col-md-offset-2 col-md-8 col-xs-12">        
        <ul class="nav nav-pills lvl-centered-nav">
          <li role="presentation" class="disabled"><a href="javascript:;" style="color: #666666 !important; cursor: default !important;">Share via</a></li>
          <li><a class="btn btn-link" href="https://www.facebook.com/sharer/sharer.php?u=<%= encodeEndpoint() %>" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=368,width=605');return false;"><i class="fa fa-facebook-square fa-lg"></i><span class="hidden-xs"> Facebook</span></a></li>
          <li><a class="btn btn-link" href="https://twitter.com/share?url=<%= encodeEndpoint() %>&via=EUBrazilCC&hashtags=lvl,leishmaniasis&size=medium" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=648,width=845');return false;"><i class="fa fa-twitter-square fa-lg"></i><span class="hidden-xs">  Twitter</span></a></li>
          <li><a class="btn btn-link" href="https://plus.google.com/share?url=<%= encodeEndpoint() %>&annotation=inline" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-google-plus-square fa-lg"></i><span class="hidden-xs">  Google+</span></a></li>
          <li><a class="btn btn-link" href="http://www.linkedin.com/shareArticle?mini=true&url=<%= encodeEndpoint() %>&title=Leishmaniasis%20Virtual%20Laboratory&summary=An%20open,%20collaborative%20research%20environment%20for%20leishmaniasis&source=EUBrazilCC" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=600');return false;"><i class="fa fa-linkedin-square fa-lg"></i><span class="hidden-xs">  LinkedIn</span></a></li>
          <li><a class="btn btn-link" href="https://github.com/eubrazilcc/leishmaniasis-virtual-lab" target="_blank"><i class="fa fa-github-square fa-lg"></i><span class="hidden-xs">  GitHub</span></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 lvl-tiles-bottom"></div>
    </div>
  </div>
  
  <!-- LVL sections -->
  <div class="container">
    <div class="row text-center lvl-tiles-top lvl-tiles-bottom">
      <div class="col-xs-12">
        <p class="lead">Focused on molecular surveillance of <i>Leishmania</i> and their vectors, the Leishmaniasis Virtual Laboratory 
        (L<span class="text-danger">ei</span>shVL) contains a number of online collaborative and research tools for advancing 
        the current knowledge about leishmaniasis. These tools allow public health workers and researchers, but also international 
        organizations, pharmaceutical companies and public sectors workers to access the L<span class="text-danger">ei</span>shVL 
        and supply relevant and in-depth information or data on the parasite and vector responsible for this disease from a unique entry 
        point. The L<span class="text-danger">ei</span>shVL is the result of the joint effort of Europeans and Brazilian research 
        teams involved in the <a href="http://www.eubrazilcloudconnect.eu" target="_blank">EUBrazilCC</a> project.</p>  
      </div>
    </div>
    <div class="row text-center lvl-tiles-top lvl-tiles-bottom">
      <div class="col-xs-12">
        <h3>Bring the power of the Cloud to your lab</h3>
      </div>
    </div>
    <div class="row lvl-tiles-bottom">
      <div class="col-md-4 col-xs-12">
        <div class="thumbnail">
          <img src="img/connector.jpg" alt="Connect" class="img-rounded">
          <div class="caption text-center">
            <h4>L<span class="text-danger">ei</span>sh online research community</h4>
            <p>Participate in a collaborate workspace, sharing your sequences and protocols with other researchers and
               deciding who can access your files. Create permanent links to your files to reference them in scientific
               papers.</p>
            <p><a class="btn btn-primary btn-large btn-block" href="/#social">Get involved in the community</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="thumbnail">
          <img src="img/phlebotomus.jpg" alt="Share" class="img-rounded">
          <div class="caption text-center">
            <h4><i>Leishmania</i> &amp; sand fly collections</h4>
            <p>Search the database built from <a href="http://clioc.fiocruz.br/" target="_blank">CLIOC</a>,
               <a href="http://colfleb.fiocruz.br/" target="_blank">COLFLEB</a> and 
               <a href="http://www.isciii.es/" target="_blank">ISCIII-WHO-CCL</a>. Cluster &amp;
               aggregate your results by area (country, shaped area) and visualize simultaneously unrelated data
               (papers, sequences, species occurrences).</p>
            <p><a class="btn btn-primary btn-large btn-block" href="/#collection">Get access to collections</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="thumbnail">
          <img src="img/microscope.jpg" alt="Research" class="img-rounded">
          <div class="caption text-center">
            <h4>Molecular analysis of DNA sequences</h4>
            <p>Customize the pipelines to add your own parameters. Execute your experiments in a large-scale computing
               infrastructure and interpret the results online. Share your experiments and results to be referenced on
               publications.</p>
            <p><a class="btn btn-primary btn-large btn-block" href="/#analysis">Enter the analysis section</a></p>
          </div>
        </div>
      </div>    
    </div>
  </div>

  <!-- Infrastructure -->
  <div class="container">
    <div class="row text-center lvl-tiles-top lvl-tiles-bottom">
      <div class="col-xs-12">
        <img class="lvl-body-logo" src="img/eubrazilcc.png" alt="EU-Brazil Cloud Connect">
      </div>
    </div>
  </div>
  <div class="container-fluid lvl-tiles-bottom">
    <div class="row lvl-info">
      <div class="col-xs-12">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-7 col-xs-12">
              <p>&nbsp;</p>
              <p class="lead">The Leishmaniasis Virtual Laboratory is built on top of the <a href="http://www.eubrazilcloudconnect.eu/" target="_blank">EUBrazilCC</a>
                infrastructure. Data access and pipeline execution are provided through a <a href="/apidoc/" target="_blank">RESTful JSON API</a> that
                supports open standards like <a href="http://geojson.org/" target="_blank">GeoJSON</a>. The infrastructure is interoperable with the
                <a href="https://www.egi.eu/infrastructure/cloud/" target="_blank">EGI Federated Cloud</a> and provides developers with the necessary
                tools to deploy virtual infrastructures using different frameworks like private clouds, supercomputing and opportunistic desktop resources.</p>
            </div>
            <div class="col-md-5 col-xs-12 bg-primary">
              <div>
                <p>&nbsp;</p>
                <h4 class="bg-primary">EUBrazilCC <small class="bg-primary">project facts</small></h4>
                <ul class="list-unstyled">
                  <li><i class="fa fa-check fa-fw"></i> Cloud-based infrastructure.</li>
                  <li><i class="fa fa-check fa-fw"></i> Built upon open standards.</li>
                  <li><i class="fa fa-check fa-fw"></i> Federated, heterogeneous resources.</li>
                  <li><i class="fa fa-check fa-fw"></i> Services and data from Brazil &amp; Europe.</li>
                  <li><i class="fa fa-check fa-fw"></i> Three selected scientific use cases.</li>
                </ul>
                <p>More info: <mark>&nbsp;<a href="http://www.eubrazilcloudconnect.eu/" target="_blank">eubrazilcloudconnect.eu</a>&nbsp;</mark></p>
                <p>&nbsp;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>