@CHARSET "UTF-8";

.lvl-main-container {
	padding-top: 68px;
}

.lvl-login-body {
	background-color: #0c84e4;
}

.lvl-jumbo {
	margin-top: 12px;
	padding-top: 23px;
	padding-bottom: 23px;
	background-image: url("../img/bg.svg");
	background-size: auto 100%;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url("../img/bg.svg");
	background-color: #f9f9f9;
}

.lvl-info {
	background-color: #f9f9f9;
}

.lvl-social {
	background-color: #f9f9f9;
}

.lvl-centered-nav {
	width: 100%;
	text-align: center;
}

.lvl-centered-nav>li {
	float: none;
	display: inline-block;
}

}
.lvl-tiles-top {
	margin-top: 23px;
}

.lvl-tiles-bottom {
	margin-bottom: 23px;
}

.lvl-footer {
	box-shadow: 0px 500px 0px 500px #ffffff;
	margin-top: 23px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.lvl-footer-logos {
	margin: 20px 14px 20px;
	max-width: 100%;
	width: auto;
	height: 64px;
}

@media ( max-width : 767px) {
	.lvl-footer-logos {
		height: 54px;
	}
}

.lvl-nav-tabs-wrapper {
	width: 100% !important;
	padding: 0%;
	margin: 0%;
}

.lvl-nav-tabs {
	position: fixed;
	z-index: +1;
	width: inherit;
	background-color: white;
}

.lvl-tab-content {
	position: relative;
	top: 118px;
	z-index: 0;
	padding-bottom: 100px;
}

.lvl-dna-sequence {
	font: bold 12px 'Courier New', Courier, monospace;
	text-transform: uppercase;
	line-height: 1.5em;
	letter-spacing: 2px;
	white-space: pre;
	width: 98%;
}

.lvl-dna-a {
	color: rgb(80, 80, 255);
}

.lvl-dna-g {
	color: rgb(0, 192, 0);
}

.lvl-dna-t {
	color: rgb(230, 230, 0);
}

.lvl-dna-c {
	color: rgb(224, 0, 0);
}

.lvl-dna-u {
	color: rgb(204, 153, 0);
}

#lvl-qtip-growl-container {
	position: fixed;
	top: 116px;
	right: 10px;
	z-index: +1002 !important;
}

#lvl-qtip-growl-container .qtip {
	position: static;
	min-height: 0;
	overflow: hidden;
	margin: 0 0 5px 0;
}

#lvl-search-box {
	opacity: 1;
	position: fixed;
	top: 67px;
	left: 0;
	background-color: #f9f9f9;
	width: 100%;
	height: auto;
	z-index: 999
}

a.lvl-btn-close:hover, a.lvl-btn-close:focus {
	border-radius: 1.5em;
	color: #f9f9f9;
	background-color: #e51c23;
}

#lvl-floating-menu-toggle {
	position: fixed;
	top: 75px;
	right: 5px;
	z-index: 997;
	height: auto;
	width: auto;
	padding: 0px;
	marging: 0px;
}

#lvl-floating-menu {
	position: fixed;
	top: 74px;
	right: 4px;
	z-index: 998;
	height: auto;
	width: auto;
	padding: 0px;
	marging: 0px;
}

.lvl-toggle-menu-icon {
	-webkit-transform: scale(3.0, 1.8);
	-moz-transform: scale(3.0, 1.8);
	-ms-transform: scale(3.0, 1.8);
	-o-transform: scale(3.0, 1.8);
	transform: scale(3.0, 1.8);
}

input.lvl-add-term-input {
	/* considering placeholder "add term" and font width 0.5em */
	width: 4.1em !important;
}

input.lvl-add-term-input:focus {
	width: auto !important;
}

/* Override Backgrid.js styles */
.backgrid-container {
	position: relative;
	display: block;
	width: 100%;
	max-width: 100%;
	/* height: 465px; */
	height: auto !important;
	padding: 0;
	overflow: auto;
	border: 0;
}

.backgrid-paginator ul>li>a, .backgrid-paginator ul>li>span {
	float: left;
	width: 45px !important;
	height: 30px;
	padding: 0;
	line-height: 30px;
	text-decoration: none;
}

@media all and (max-width: 768px) and (min-width: 0px) {
	.backgrid-filter input[type="search"] {
		width: 106px !important;
	}
}

/* OpenLayers */
.lvl-map {
	height: 400px;
	width: 100%;
	background: url(../img/textured_paper.jpg) repeat;
}

.ol-scale-line {
	left: 42px !important;
}

.lvl-restore-map {
	top: 65px;
	left: .5em;
}

.ol-touch .lvl-restore-map {
	top: 80px;
}

/* Chart.js */
.doughnut-legend {
	list-style: none;
	position: absolute;
	left: -22px;
	top: 0;
}