<div class="container lvl-main-container">
  <div class="row text-center">
    <div class="col-md-offset-4 col-md-4 col-xs-12">
      <h4>
        Sign up to <span style="color: #2C3E50;">L<span class="text-danger">ei</span>sh VirtLab</span>
      </h4>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-offset-4 col-md-4 col-xs-12">
      <div class="panel lvl-login-form">
        <div class="panel-body">
          <form id="signupForm" autocomplete="off" novalidate="novalidate" role="form">
            <div class="login-form">
              <!-- hack to avoid Chrome to autocomplete this form -->
              <input style="display:none">
              <input type="password" style="display:none">
              <div class="form-group">
                <input type="text" class="form-control login-field" value="" placeholder="Enter username" name="username" required autofocus autocomplete="off" />
                <label class="login-field-icon fui-user" for="username"></label>
              </div>
              <div class="form-group">
                <input type="text" class="form-control login-field" value="" placeholder="Enter email" name="email" required autocomplete="off" />
                <label class="login-field-icon fui-mail" for="email"></label>
              </div>
              <div class="form-group">
                <input type="password" class="form-control login-field" value="" placeholder="Password" name="password" required autocomplete="off" />
                <label class="login-field-icon fui-lock" for="password"></label>
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
            </div>
            <div>
              <p><small>By signing up you are agreeing to our <a href="/#privacy-policy" target="_blank">Privacy Policy</a> and <a href="/#terms-of-use" target="_blank">Terms &amp;
                Conditions</a>.</small></p> 
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>