      <!-- Summary -->
      <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <h1>58</h1>              
                </div>
                <div class="col-xs-6 text-right">
                  <i class="fa fa-users fa-5x"></i>
                </div>     
              </div>
              <div class="row">
                <div class="col-xs-12">
                  Registered users
                </div>
              </div>
            </div>               
            <div class="panel-footer text-center">
              <a href="#">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
    
        <div class="col-md-3 hidden-sm hidden-xs">
          <div class="panel panel-success">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <h1>231</h1>              
                </div>
                <div class="col-xs-6 text-right">
                  <i class="fa fa-bug fa-5x"></i>
                </div>     
              </div>
              <div class="row">
                <div class="col-xs-12">
                  Stored sequences
                </div>
              </div>
            </div>      
            <div class="panel-footer text-center">
              <a href="#">More info <i class="fa fa-arrow-circle-right"></i></a>        
            </div>
          </div>
        </div>
    
        <div class="col-md-3 hidden-sm hidden-xs">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <h1>123</h1>              
                </div>
                <div class="col-xs-6 text-right">
                  <i class="fa fa-file-text fa-5x"></i>
                </div>     
              </div>
              <div class="row">
                <div class="col-xs-12">
                  Shared papers
                </div>
              </div>
            </div>               
            <div class="panel-footer text-center">
              <a href="#">More info <i class="fa fa-arrow-circle-right"></i></a>        
            </div>
          </div>
        </div>
    
        <div class="col-md-3 hidden-sm hidden-xs">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <h1>12</h1>      
                </div>
                <div class="col-xs-6 text-right">
                  <i class="fa fa-bell fa-5x"></i>
                </div>     
              </div>
              <div class="row">
                <div class="col-xs-12">
                  Pending issues
                </div>
              </div>
            </div>               
            <div class="panel-footer text-center">
              <a href="#">Fix issues <i class="fa fa-arrow-circle-right"></i></a>        
            </div>
          </div>
        </div>
      </div> <!-- Summary -->
      
      <!-- Main body -->
      <div class="row">
      
        <!-- Main body (left column) -->
        <div class="col-md-6 col-xs-12">
            
          <!-- Users panel -->
          <div class="row">
            <div class="col-xs-12">          
              <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-users fw"></i> Recent users <span class="text-muted"> - registrations of the last week</span></div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-condensed table-hover">
                      <thead>
                        <tr>
                          <th>Username</th>
                          <th>Institution</th>
                          <th>Country</th>
                          <th>Joining date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a href="http://localhost:8000/#/user/profile/user123">user123</a></td>
                          <td>My Institution</td>
                          <td>France</td>
                          <td>May/14/2014</td>
                        </tr>
                        <tr>
                          <td><a href="http://localhost:8000/#/user/profile/noname">noname</a></td>
                          <td>Freelance</td>
                          <td>Italy</td>
                          <td>May/18/2014</td>
                        </tr>
                        <tr>
                          <td><a href="http://localhost:8000/#/user/profile/otheruser">otheruser</a></td>
                          <td>UPV</td>
                          <td>Spain</td>
                          <td>May/21/2014</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>                  
                </div>
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-xs-6 text-left">
                      <a href="#" tooltip="Refresh"><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ></i></a>
                    </div>
                    <div class="col-xs-6 text-right">
                      <a href="#">View all users <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                </div>          
              </div>          
            </div>
          </div> <!-- Users panel -->
          
          <!-- Papers panel -->
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-file-text fw"></i> Recent papers <span class="text-muted"> - shared in the last month</span></div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="table-responsive">
                        <table class="table table-condensed table-hover">
                          <thead>
                            <tr>
                              <th>DOI</th>
                              <th>Journal</th>
                              <th>Publication date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><a href="http://localhost:8000/#/doi/paper123">paper123</a></td>
                              <td>JMC</td>
                              <td>Apr/28/2014</td>
                            </tr>
                            <tr>
                              <td><a href="http://localhost:8000/#/doi/bio.234">bio.234</a></td>
                              <td>Bioinformatics</td>
                              <td>Apr/28/2014</td>
                            </tr>
                            <tr>
                              <td><a href="http://localhost:8000/#/doi/EMCJ.o01">EMCJ.o01</a></td>
                              <td>EMCJ</td>
                              <td>May/10/2014</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>                
                </div>
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-xs-6 text-left">
                      <a href="#" tooltip="Refresh"><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ></i></a>
                    </div>
                    <div class="col-xs-6 text-right">
                      <a href="#">View all papers <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>          
            </div>
          </div> <!-- Papers panel -->
            
        </div> <!-- Main body (left column) -->
        
        <!-- Main body (right column) -->
        <div class="col-md-6 col-xs-12">
            
          <!-- Sequences panel -->
          <div class="row">            
            <div class="col-xs-12">          
              <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-bug fw"></i> Recent sequences <span class="text-muted"> - submissions from last moth</span></div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="table-responsive">
                        <table class="table table-condensed table-hover">
                          <thead>
                            <tr>
                              <th>Accession</th>
                              <th>Source</th>
                              <th>Country</th>
                              <th>Submission date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><a href="http://localhost:8000/#/sequence/A123">A123</a></td>
                              <td>GenBank</td>
                              <td>Kenya</td>
                              <td>Apr/11/2014</td>
                            </tr>
                            <tr>
                              <td><a href="http://localhost:8000/#/sequence/D256">D256</a></td>
                              <td>ISCIII-WHO</td>
                              <td>Spain</td>
                              <td>May/02/2014</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>                  
                </div>
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-xs-6 text-left">
                      <a href="#" tooltip="Refresh"><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ></i></a>
                    </div>
                    <div class="col-xs-6 text-right">
                      <a href="#">View all sequences <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>          
            </div>            
          </div> <!-- Sequences panel -->
            
          <!-- Alerts panel -->
          <div class="row">            
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-bell fw"></i> Recent alerts <span class="text-muted"> - latest issues <span class="label label-danger">0 critical</span></span> <span class="label label-warning">0 high</span></div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="table-responsive">
                        <table class="table table-condensed table-hover">
                          <thead>
                            <tr>
                              <th>Alert Id</th>
                              <th>Subject</th>
                              <th>Severity</th>                              
                              <th>Reported</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><a href="http://localhost:8000/#/issue/isue123">issue123</a></td>
                              <td>Sequence pending for validation</td>
                              <td><span class="label label-default">Low</span></td>
                              <td>May/03/2014</td>
                            </tr>
                            <tr>
                              <td><a href="http://localhost:8000/#/issue/issue980">issue980</a></td>
                              <td>Sequence pending for validation</td>
                              <td><span class="label label-default">Low</span></td>
                              <td>May/03/2014</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-xs-6 text-left">
                      <a href="#" tooltip="Refresh"><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ></i></a>
                    </div>
                    <div class="col-xs-6 text-right">
                      <a href="#">View all alerts <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>          
            </div>
          </div> <!-- Alerts panel -->
           
        </div> <!-- Main body (right column) -->
      
      </div> <!-- Main body -->