<div class="container lvl-main-container">
	<div class="row">
		<div class="col-sm-2 hidden-xs">
			<div id="lvl-toc-nav" role="navigation" data-spy="affix">
				<ul>
					<li><a href="/#support/support">Support</a></li>
					<li><a href="/#support/mailing-list">Mailing list</a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-10 col-xs-12 lvl-left-border">
			<section id="support" class="lvl-left-border-main-section">
				<h3>Support<a class="lvl-permalink" href="/#support/support" title="Permalink to this section"><span class="lvl-permalink-icon"></span></a>
				</h3>
				<p class="lead">
					The <a href="/#home" title="Leishmaniasis Virtual Laboratory">L<span class="text-danger">ei</span>sh VirtLab</a> is an open-source project
					supported by a growing community of users, developers and other contributors. The first source of help is in the official 
					<a href="/#doc">documentation</a>.
				</p>
				<hr>
				<div class="row">
					<div class="col-xs-12 col-md-9">
						<section id="mailing-list">
							<h4>Mailing list<a class="lvl-permalink" href="/#support/mailing-list" title="Permalink to this section"><span class="lvl-permalink-icon"></span></a></h4>
							<p>
								You can also find help in the official mailing list of the 
								<a href="/#home" title="Leishmaniasis Virtual Laboratory">L<span class="text-danger">ei</span>sh VirtLab</a>. You need to subscribe
								before you can post a message to the list. Once you receive the notification email, ask about the problem in the list. Please, be 
								specific and include as much information as possible about your problem and your system configuration. Always consider updating your
								system to the most current version before reporting an issue. We also recommend that you use the latest stable release of the 								
								<a href="/#home" title="Leishmaniasis Virtual Laboratory">L<span class="text-danger">ei</span>sh VirtLab</a> to receive optimal 
								support from the development team in the shortest time possible.</p>							
							<form class="form-horizontal">
								<fieldset>
									<legend>Subscribe to the <a href="/#home" title="Leishmaniasis Virtual Laboratory">L<span class="text-danger">ei</span>sh VirtLab</a>
										mailing list</legend>
									<div class="form-group">
      									<label for="inputEmail" class="col-lg-2 control-label">Email</label>
      									<div class="col-lg-10">
        									<input type="email" class="form-control" id="inputEmail" placeholder="Enter your email" required autocomplete="off">
      									</div>
    								</div>
    								<div class="form-group">
    									<div class="col-lg-10 col-lg-offset-2">
    										<button type="reset" class="btn btn-default">Subscribe</button>
    									</div>
    								</div>
    							</fieldset>
    						</form>
						</section>
					</div>
					<div class="hidden-xs hidden-sm col-md-3">					
						<div class="row">
  							<div class="col-xs-12 text-center">
    							<div class="thumbnail">
      								<div class="caption">
        								<h5>Stay informed</h5>
        								<p>Subscribe to our mailing list to get the latest updates</p>
										<p><a href="/#support/mailing-list" class="btn btn-primary">Subscribe</a></p>
      								</div>
    							</div>
  							</div>
						</div>						
						<div class="row">
  							<div class="col-xs-12">
  								<h5 class="text-center">Meet us at</h5>  								
  								<ul>
  									<li><a href="http://ec.europa.eu/digital-agenda/ICT2015" target="_blank">ICT 2015</a>, Lisbon, Portugal, Oct 20-22, 2015.</li>
  								</ul>  								
  							</div>
  						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>