<div id="lvl-floating-menu-toggle" style="display: none;">
	<button type="button" class="btn btn-default" id="lvl-toggle-toolbar-btn" title="Tools"><div class="lvl-toggle-menu-icon">&equiv;</div></button>
</div>

<div class="btn-group-vertical" role="group" id="lvl-floating-menu" style="display: none;"></div>

<div id="lvl-qtip-growl-container"></div>

<!-- Content -->
<div class="lvl-nav-tabs-wrapper">
	<div class="container-fluid lvl-main-container lvl-nav-tabs">
		<div id="section-tab-list"></div>    
	</div>    
</div>  
  
<div class="container-fluid lvl-tab-content">          
	<div id="section-tab-content" class="tab-content">
		<!-- Initial dummy content -->
		<h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1>
		<h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1>     
	</div>
</div>