  <!-- Custom jumbotron -->
  <div class="container-fluid lvl-jumbo-shadow"></div>
  
  <div class="container-fluid lvl-main-container">    
    <div class="row">
      <div class="col-xs-12 bg-primary text-center lvl-jumbo">
        <div class="row">
          <div class="col-md-offset-2 col-md-8 col-xs-12">
            <p class="lead">&nbsp;</p>
            <p class="lead">
              Join the <strong>Leishmaniasis Virtual Laboratory</strong> to gain access to an
              open, collaborative research environment for leishmaniasis
            </p>
            <a href="/#collection" class="btn btn-primary btn-hg">
              <span class="fa-stack fa-lg fa-fw">
                <i class="fa fa-circle-o fa-stack-2x"></i>
                <i class="fa fa-cloud fa-stack-1x"></i>
              </span><i></i> Start using it <i class="fa fa-chevron-right fa-lg fa-fw"></i>
            </a>
            <p class="lead">&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row lvl-social">      
      <div class="col-md-offset-2 col-md-8 col-xs-12">
        <ul class="nav nav-justified">
          <li class="text-center">Share on:</li>
          <li><a class="btn btn-link" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flvl.i3m.upv.es" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=368,width=605');return false;"><i class="fa fa-facebook-square fa-lg"></i> Facebook</a></li>
          <li><a class="btn btn-link" href="https://twitter.com/share?url=https%3A%2F%2Flvl.i3m.upv.es&via=EUBrazilCC&hashtags=lvl,leishmaniasis&size=medium" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=648,width=845');return false;"><i class="fa fa-twitter-square fa-lg"></i> Twitter</a></li>
          <li><a class="btn btn-link" href="https://plus.google.com/share?url=https%3A%2F%2Flvl.i3m.upv.es&annotation=inline" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-google-plus-square fa-lg"></i> Google+</a></li>
          <li><a class="btn btn-link" href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Flvl.i3m.upv.es&title=Leishmaniasis%20Virtual%20Laboratory&summary=An%20open,%20collaborative%20research%20environment%20for%20leishmaniasis&source=EUBrazilCC" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=600');return false;"><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn</a></li>
          <li><a class="btn btn-link" href="https://github.com/eubrazilcc/leishmaniasis-virtual-lab" target="_blank"><i class="fa fa-github-square fa-lg"></i> GitHub</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 lvl-tiles-bottom"></div>
    </div>
  </div>

  <!-- LVL sections -->
  <div class="container">
    <div class="row text-center lvl-tiles-top lvl-tiles-bottom">
      <div class="col-xs-12">
        <h4>Bring the power of the Cloud to your lab</h4>
      </div>
    </div>
    <div class="row lvl-tiles-bottom">
      <div class="col-md-4 col-xs-12">
        <div class="tile">
          <img src="img/connector.jpg" alt="Connect" class="tile-image big-illustration img-rounded">
          <h3 class="tile-title">
            L<span class="text-danger">ei</span>sh community
          </h3>
          <p>Participate in a collaborate workspace, sharing your sequences and protocols with other researchers and
            deciding who can access your files. Create permanent links to your files to reference them in scientific
            papers.</p>
          <a class="btn btn-primary btn-large btn-block" href="/#social">Learn more</a>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="tile">
          <img src="img/mosquito.jpg" alt="Share" class="tile-image big-illustration img-rounded">
          <h3 class="tile-title">Leishmania &amp; sand fly collection</h3>
          <p>Search the database built from <a href="http://clioc.fiocruz.br/" target="_blank">CLIOC</a>,
            <a href="http://colfleb.fiocruz.br/" target="_blank">COLFLEB</a> and 
            <a href="http://www.isciii.es/" target="_blank">ISCIII-WHO-CCL</a>. Cluster &amp;
            aggregate your results by area (country, shaped area) and visualize simultaneously unrelated data
            (papers, sequences, species occurrences).
          </p>
          <a class="btn btn-primary btn-large btn-block" href="/#collection">Learn more</a>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="tile">
          <img src="img/microscope.jpg" alt="Research" class="tile-image big-illustration img-rounded">
          <h3 class="tile-title">Molecular analysis</h3>
          <p>Customize the pipelines to add your own parameters. Execute your experiments in a large-scale computing
            infrastructure and interpret the results online. Share your experiments and results to be referenced on
            publications.</p>
          <a class="btn btn-primary btn-large btn-block" href="/#analysis">Learn more</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Infrastructure -->
  <div class="container">
    <div class="row text-center lvl-tiles-top lvl-tiles-bottom">
      <div class="col-xs-12">
        <h4 class="text-primary">Do you need something even more powerful?</h4>
      </div>
    </div>
  </div>
  <div class="container-fluid lvl-tiles-bottom">
    <div class="row bg-info">
      <div class="col-xs-12">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-7 col-xs-12">
              <p>&nbsp;</p>
              <p>The Leishmaniasis Virtual Laboratory is built on top of the <a href="http://www.eubrazilcloudconnect.eu/" target="_blank">EUBrazilCC</a>
                infrastructure. Data access and pipeline execution are provided through a <a href="/doc/" target="_blank">RESTful JSON API</a> that
                supports open standards like <a href="http://geojson.org/" target="_blank">GeoJSON</a>. The infrastructure is interoperable with the
                <a href="https://www.egi.eu/infrastructure/cloud/" target="_blank">EGI Federated Cloud</a> and provides developers with the necessary
                tools to deploy virtual infrastructures using different frameworks like private clouds, supercomputing and opportunistic desktop resources.</p>
            </div>
            <div class="col-md-5 col-xs-12">
              <div class="footer-banner">
                <h3 class="footer-title">EUBrazilCC</h3>
                <ul>
                  <li>Cloud-based infrastructure</li>
                  <li>Built upon open standards</li>
                  <li>Federated, heterogeneous resources</li>
                  <li>Services and data from Brazil &amp; Europe</li>
                  <li>Three selected scientific use cases</li>
                </ul>
                Go to: <a href="http://www.eubrazilcloudconnect.eu/" target="_blank">eubrazilcloudconnect.eu</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>