<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
			<h4 class="modal-title" id="myModalLabel">Privacy policy</h4>
		</div>
		<div class="modal-body">
			<h4>EUBrazil Cloud Connect Data Handling Privacy Policy & On-line Registration Privacy Statement</h4>
			<p>Data collected through the EUBrazil Cloud Connect on-line registration process is subject to Registration Process and Data Collection regulations, the European Directive 95/46 of the European Parliament and of the Council of 18 December 2000 on the protection of individuals with regard to the processing of personal data by the Community institutions and bodies and on the free movement of such data. While registering to EUBrazil Cloud Connect website, your personal data will be collected and further processed in order to profile your interests and ensure you receive information accordingly.</p>
			<h5>What personal information is collected, for what purpose and through what technical means?</h5>
			<p>The data collected is for the sole purpose of profiling membership to the EUBrazil Cloud Connect website and any related messaging that may result from registration, which will be entirely within the remit of EUBrazil Cloud Connect. Personal data collected include: Name, Surname, organisation, occupation, organisation type, sector(s), city, country, email, and area(s) of interest. Registered members will receive confirmation of their User ID and password, in order to: Access content on the EUBrazil Cloud Connect website and Receive notification of EUBrazil Cloud Connect initiatives, project news and developments.</p>
			<h5>Who has access to your data and to whom is it disclosed?</h5>
			<p>No personal data is transmitted to third parties nor to members of the EUBrazil Cloud Connect Consortium, other than the partner operating the website. Data is not accessible by other registered members. Statistical information, such as professional role, country provenance, and organisation type, is provided to the European Commission, for the sole purpose of reporting on EUBrazil Cloud Connect Community Membership.</p>
			<h5>How is your data protected and safeguard?</h5>
			<p>All the personal data collected is stored through means which must guarantee data protection and confidentiality as required by the Regulation (EC) 45/2001.</p>
			<h5>How can personal data be verified, modified or deleted?</h5>
			<p>The User Profile can be verified and modified at any time. To unsubscribe from the website, follow the steps indicated at the bottom of your User Profile page.</p>
			<h5>How long is data retained?</h5>
			<p>Personal data is retained for as long as the website is available and operational for its user communities. All registered members will be informed when the membership facility is no longer operational.</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>