  <!-- Custom jumbotron -->
  <div class="container-fluid lvl-main-container">    
    <div class="row">
      <div class="col-xs-12 bg-primary text-center lvl-jumbo">
        <div class="row">
          <div class="col-md-offset-2 col-md-8 col-xs-12">
            <p>&nbsp;</p>
            <h1>
              Oops, 404!
            </h1>
            <p class="lead">The page you were looking for could not be found.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-4 col-md-4 col-xs-12">
            <div class="form-group">
              <div class="input-group">                               
                <input type="text" class="form-control" placeholder="Search" id="search-query">
                <span class="input-group-btn">
                  <button type="submit" class="btn"><span class="fui-search"></span></button>
                </span>
              </div>              
            </div>
            <p>&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Content -->
  <div class="container">
    <div class="row text-center lvl-tiles-top lvl-tiles-bottom">
      <div class="col-xs-12"></div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <h6>Navigation</h6>
        <ul class="list-unstyled">
          <li><a href="/#home"><i class="fa fa-home fa-fw"></i> Home</a></li>
          <li><a href="#"><i class="fa fa-comments fa-fw"></i> Community</a></li>
          <li><a href="#"><i class="fa fa-database fa-fw"></i> Collection</a></li>
          <li><a href="#"><i class="fa fa-file-text fa-fw"></i> e-Compendium</a></li>
          <li><a href="#"><i class="fa fa-barcode fa-fw"></i> Molecular Analysis</a></li>
          <li><a href="#"><i class="fa fa-globe fa-fw"></i> Ecological Niche Modelling</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-12">
        <h6>Settings</h6>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fa fa-user fa-fw"></i> Account</a></li>
          <li><a href="#"><i class="fa fa-cog fa-fw"></i> Settings</a></li>
        </ul>
        <h6>Useful links</h6>
        <ul class="list-unstyled">
          <li><a href="http://www.eubrazilcloudconnect.eu/" target="_blank"><i class="fa fa-cloud fa-fw"></i> EU-Brazil Cloud Connect</a></li>
          <li><a href="/doc/" target="_blank"><i class="fa fa-book fa-fw"></i> Server documentation</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="tile">
            <h5>About this site</h5>
            <p>
              The Leishmaniasis Virtual Laboratory is a open, collaborative research environment for leishmaniasis.
            </p>
        </div>
      </div>
    </div>
  </div>