  <!-- Custom jumbotron -->
  <div class="container-fluid lvl-main-container">    
    <div class="row">
      <div class="col-xs-12 bg-primary text-center lvl-jumbo">
        <div class="row">
          <div class="col-md-offset-2 col-md-8 col-xs-12">
            <p>&nbsp;</p>
            <h1>
              Oops, 404!
            </h1>
            <h4>The page you were looking for could not be found.</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-4 col-md-4 col-xs-12">          
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" id="search-query" />
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-search fa-fw"></i></button>
                </span>
              </div>
            </div>          
            <p>&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Content -->
  <div class="container">
    <div class="row text-center lvl-tiles-top lvl-tiles-bottom">
      <div class="col-xs-12"></div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <h4>Navigation</h4>
        <div id="section-navigation"></div>
        <h4>Settings</h4>
        <div id="section-settings"></div>
      </div>
      <div class="col-md-4 col-xs-12">
        <h4>Support</h4>
        <div id="section-support"></div>
        <h4>Software</h4>
        <div id="section-software"></div>        
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="well text-center">
          <h3>About this site</h3>
            <p>
              The Leishmaniasis Virtual Laboratory is a open, collaborative environment for research in leishmaniasis.
            </p>
        </div>        
      </div>
    </div>
  </div>