<div class="container lvl-main-container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-12">
      <div class="well">
        <form id="validationForm" autocomplete="off" action="" role="form">
          <fieldset>
            <legend class="text-center">Registration successful</legend>
            <div class="form-group">
              <p>
                Thank you for registering at <a class="lvl-login" href="/#home" >L<span class="text-danger">ei</span>sh VirtLab</a>. 
                An email has been sent to you with a code which you may use to activate your account. Please, check your 
                mailbox and enter the code below. Sometimes this can be marked as Spam so check your filtered folder too. 
                If nothing has arrived within 5 minutes click <a href="/#account/resend">here</a> and we will send you 
                the code again.
              </p>
            </div>
            <div class="form-group">
              <label for="email"></label>
              <input type="email" class="form-control" value="<%= accountEmail() %>" placeholder="Enter email" name="email" id="email" required />
              <span class="help-block">The email address that you provided during registration.</span>
            </div>
            <div class="form-group">
              <label for="code"></label>
              <input type="text" class="form-control" value="<%= validationCode() %>" placeholder="Enter activation code" name="code" id="code" required autofocus />
              <span class="help-block">The 6-12 characters code that has been sent to you by email.</span>
            </div>
            <button type="submit" class="btn btn-lg btn-primary" id="submit_validation_btn">Activate</button>            
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>