<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
			<h4 class="modal-title" id="myModalLabel">Phylogenetic tree viewer</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-12">
					<div class="btn-group" id="edition-toolbar">
						<a class="btn btn-link" id="display-tree-btn"><i class="fa fa-sitemap fa-rotate-270 fa-fw"></i> Tree</a>
						<a class="btn btn-link" id="display-circle-btn"><i class="fa fa-sun-o fa-fw"></i> Radial</a>          
					</div>
				</div>
			</div>		
			<div class="row">
				<div class="col-xs-12">
					<div id="svgCanvas"></div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>