<div class="container lvl-main-container">
	<div class="row">
		<div class="col-sm-2 hidden-xs">
			<!-- Import navigation side-bar -->
			<div id="lvl-toc-nav" role="navigation" data-spy="affix"></div>
		</div>
		<div class="col-sm-10 col-xs-12 lvl-left-border">
			<section id="<%= application %>" class="lvl-left-border-main-section">				
				<div class="row">
					<div class="col-xs-12">
						<h3><%= name %><a class="lvl-permalink" href="/#<%= application %>/<%= application %>" title="Permalink to this section"><span class="lvl-permalink-icon"></span></a></h3>
						<!-- Import main section content -->
						<div id="lvl-main-section-content"></div>
						<hr>
					</div>
				</div>
				<div class="row">
					<!-- Import sub-sections -->
					<div id="lvl-sub-sections" class="col-xs-12 col-md-9"></div>
					<div class="hidden-xs hidden-sm col-md-3">
						<div class="row">
  							<div class="col-xs-12 text-center">
    							<div class="thumbnail">
      								<div class="caption">
        								<h5>Stay informed</h5>
        								<p>Subscribe to our mailing list to get the latest updates</p>
										<p><a href="/#support/mailing-list" class="btn btn-primary">Subscribe</a></p>
      								</div>
    							</div>
  							</div>
						</div>
						<div class="row">
							<!-- Import events list -->
  							<div id="lvl-events-list" class="col-xs-12"></div>
  						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>