<div class="container lvl-main-container">
	<div class="row">
		<div class="col-sm-2 hidden-xs">
			<div id="lvl-toc-nav" role="navigation" data-spy="affix">
				<ul>
					<li><a href="/#software/software">Software</a></li>
					<li><a href="/#software/releases">Releases</a></li>
					<li><a href="/#software/downloads">Downloads</a></li>					
					<li><a href="/#software/development">Development</a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-10 col-xs-12 lvl-left-border">
			<section id="software" class="lvl-left-border-main-section">				
				<h3>Software<a class="lvl-permalink" href="/#software/software" title="Permalink to this section"><span class="lvl-permalink-icon"></span></a>
				</h3>
				<p class="lead">
					The project <a href="http://www.eubrazilcloudconnect.eu/" target="_blank">EUBrazilCC</a> provides the basis for the development of the first 
					version of the <a href="/#home" title="Leishmaniasis Virtual Laboratory">L<span class="text-danger">ei</span>sh VirtLab</a>. The responsibility
					for developing and leading future versions will be rotated among the team members after the end of the project.
				</p>
				<hr>				
				<div class="row">
					<div class="col-xs-12 col-md-9">	
						<section id="releases">
							<h4>Releases<a class="lvl-permalink" href="/#software/releases" title="Permalink to this section"><span class="lvl-permalink-icon"></span></a></h4>							
							<table class="table table-striped table-hover table-bordered">
								<thead>
									<tr>
										<th>Version</th>
										<th>Date</th>
										<th>Type</th> <!-- Maintenance, Upgrade, Development -->
										<th>Information</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1.0.0<sup>1</sup></td>
										<td>(Planned in June, 2015)</td>
										<td>Planned upgrade</td>
										<td class="text-muted">Release notes</td>
									</tr>
									<tr>
										<td>0.2.0<sup>2</sup></td>
										<td>(Planned in May, 2015)</td>
										<td>Planned upgrade</td>
										<td class="text-muted">Release notes</td>
									</tr>
									<tr>
										<td>0.1.0</td>
										<td>Apr 20<sup>th</sup>, 2015</td>
										<td>Upgrade</td>
										<td><a href="https://github.com/eubrazilcc/leishmaniasis-virtual-lab/releases/tag/v0.0.2" target="_blank">Release notes</a></td>
									</tr>
									<tr>
										<td>0.0.1</td>
										<td>Mar 17<sup>th</sup>, 2015</td>
										<td>First release</td>
										<td><a href="https://github.com/eubrazilcc/leishmaniasis-virtual-lab/releases/tag/v0.0.1" target="_blank">Release notes</a></td>
									</tr>									
								</tbody>
							</table>
							<p class="small">(1) Version <mark>1.0.0</mark> will be the first complete release, expected after the 100% of the functional requirements 
								are fulfilled.</p>
							<p class="small">(2) Version <mark>0.2.0</mark> will be the first release openly available for public access.</p>
							<br>
							<section id="versioning">
								<h5>Software versioning</h5>
								<p>
									The <a href="/#home" title="Leishmaniasis Virtual Laboratory">L<span class="text-danger">ei</span>sh VirtLab</a> implements a 
									release model where new versions with incremental version number are frequently released. New versions are named following the 
									standard GNU version numbering scheme (<mark>major</mark>.<mark>minor</mark>.<mark>revision</mark>):
								</p>
								<ol>
									<li><mark>major</mark> version than makes incompatible API changes,</li>
									<li><mark>minor</mark> version that adds functionality in a backwards-compatible manner, and</li>
									<li><mark>revision</mark> version that makes backwards-compatible bug fixes.</li>
								</ol>								
							</section>											
						</section>
						<hr>
						<section id="downloads">
							<h4>Downloads<a class="lvl-permalink" href="/#software/downloads" title="Permalink to this section"><span class="lvl-permalink-icon"></span></a></h4>
							<p>
								There are several ways to download and install the <a href="/#home" title="Leishmaniasis Virtual Laboratory">L<span class="text-danger">ei</span>sh VirtLab</a>.							
							</p>
							<p>
								<i class="fa fa-linux fa-lg pull-left fa-border"></i>The preferred way to install the <a href="/#home" title="Leishmaniasis Virtual Laboratory">L<span class="text-danger">ei</span>sh VirtLab</a> 
								is using the virtual appliances stored in the EGI Applications database (<a href="http://appdb.egi.eu/" target="_blank">EGI AppDB</a>).
								These appliances are pre-configured and tested virtual machine (VM) images, ready to run both in the EUBrazilCC infrastructure and in EGI.
								Installation options are provided in the <a href="/apidoc/#installation_virtual_appliances" target="_blank">Administration &amp; Development Guide</a>.
							</p>
							<p>
								<a href="https://appdb.egi.eu/store/vappliance/leishmaniasis.virtual.lab.lvl" class="btn btn-default" role="button" target="_blank">Get virtual appliances</a>
							</p>
							<br>
							<p>
								<i class="fa fa-cube fa-lg pull-left fa-border"></i>The <a href="/#home" title="Leishmaniasis Virtual Laboratory">L<span class="text-danger">ei</span>sh VirtLab</a> is built and assembled 
								using <a href="https://maven.apache.org/" target="_blank">Apache Maven</a>. Stable releases are deployed to a Maven repository based on 
								<a href="https://bintray.com/" target="_blank">Bintray</a>. These releases are very modular, consisting of several JAR and WAR files. 
								You can declare a dependency on a <a href="/#home" title="Leishmaniasis Virtual Laboratory">L<span class="text-danger">ei</span>sh VirtLab</a> 
								module or build the complete distribution using Maven.
							</p>
							<p>
								<a href="https://bintray.com/eubrazilcc/leishmaniasis-virtual-lab" class="btn btn-default" role="button" target="_blank">Access Maven repository</a>
							</p>							
							<br>
							<p>
								<i class="fa fa-file-code-o fa-lg pull-left fa-border"></i>The source code of source code of the latest stable release of the 
								<a href="/#home" title="Leishmaniasis Virtual Laboratory">L<span class="text-danger">ei</span>sh VirtLab</a> is available for download 
								in the GitHub repository of the project. Instructions to install the <a href="/#home" title="Leishmaniasis Virtual Laboratory">L<span class="text-danger">ei</span>sh VirtLab</a>
								from the source are available in the <a href="/apidoc/#installation_from_source" target="_blank">Administration &amp; Development Guide</a>.
							</p>
							<p>
								<a href="https://github.com/eubrazilcc/leishmaniasis-virtual-lab/releases/latest" class="btn btn-default" role="button" target="_blank">Download source code</a>
							</p>
							<br>
							<section id="licenses">
								<h5>Software licenses</h5>
								<p>
									The <a href="/#home" title="Leishmaniasis Virtual Laboratory">L<span class="text-danger">ei</span>sh VirtLab</a> source code, 
									binary distribution and virtual machine images are provided under the terms of the EUPL license. The text of the 
									<a href="https://joinup.ec.europa.eu/software/page/eupl/licence-eupl" target="_blank">EUPL license</a> is available in PDF 
									file format in the 22 official languages of the EU.
								</p>
								<p>
									A <a href="https://github.com/eubrazilcc/leishmaniasis-virtual-lab/blob/master/lvl-project/lvl-resource-bundle/EUPL_LICENCE-1.1.TXT" target="_blank">readable version</a> 
									of the license extracted from the original English version and formatted to align within 80 columns is provided with the
									<a href="/#home" title="Leishmaniasis Virtual Laboratory">L<span class="text-danger">ei</span>sh VirtLab</a> distribution.
								</p>
								<p>
									The EUPL license is <a href="https://joinup.ec.europa.eu/software/page/eupl/eupl-compatible-open-source-licences" target="_blank">compatible</a> 
									with most commonly used open-source licenses, such as <a href="http://opensource.org/licenses/Apache-2.0" target="_blank">Apache</a>, 
									<a href="http://opensource.org/licenses/MIT" target="_blank">MIT</a> and <a href="http://opensource.org/licenses/lgpl-license" target="_blank">LGPL</a>, 
									always depending on the use of the licensed software. A <a href="https://github.com/eubrazilcc/leishmaniasis-virtual-lab/blob/master/lvl-project/lvl-resource-bundle/NOTICE.TXT" target="_blank">copyright notice</a> 
									is distributed with each version or release, to specify the use of external software in the 
									<a href="/#home" title="Leishmaniasis Virtual Laboratory">L<span class="text-danger">ei</span>sh VirtLab</a>.
								</p>
							</section>
						</section>
						<hr>
						<section id="development">
							<h4>Development<a class="lvl-permalink" href="/#software/development" title="Permalink to this section"><span class="lvl-permalink-icon"></span></a></h4>
							<p>
								<i class="fa fa-code-fork fa-lg pull-left fa-border"></i>The most current version of the source code is publicly available in the GitHub 
								repository of the project. The <a href="/apidoc/" target="_blank">API Documentation</a> is available online.
							</p>
							<p>
								<a href="https://github.com/eubrazilcc/leishmaniasis-virtual-lab" class="btn btn-default" role="button" target="_blank">Access development project</a>
							</p>						
						</section>					
					</div>
					<div class="hidden-xs hidden-sm col-md-3">
						<div class="row">
  							<div class="col-xs-12 text-center">
    							<div class="thumbnail">
      								<div class="caption">
        								<h5>Stay informed</h5>
        								<p>Subscribe to our mailing list to get the latest updates</p>
										<p><a href="/#support/mailing-list" class="btn btn-primary">Subscribe</a></p>
      								</div>
    							</div>
  							</div>
						</div>
						<div class="row">
  							<div class="col-xs-12">
  								<h5 class="text-center">Meet us at</h5>  								
  								<ul>
  									<li><a href="http://ec.europa.eu/digital-agenda/ICT2015" target="_blank">ICT 2015</a>, Lisbon, Portugal, Oct 20-22, 2015.</li>
  								</ul>  								
  							</div>
  						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>