  <!-- Content -->
  <div class="lvl-nav-tabs-wrapper">
    <div class="container-fluid lvl-main-container lvl-nav-tabs">
      <div id="section-tab-list"></div>    
    </div>    
  </div>
  
  <div class="container-fluid lvl-nav-tabs-shadow"></div>  
  
  <div class="container-fluid lvl-tab-content">          
    <div id="section-tab-content" class="tab-content">
      <!-- Initial dummy content -->
      <h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1>
      <h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1>     
    </div>
  </div>