<!-- Content -->
<div class="lvl-nav-tabs-wrapper">
	<div class="container-fluid lvl-main-container lvl-nav-tabs">
		<div id="section-tab-list">
			<ul id="tabList" class="nav nav-tabs" role="tablist">
				<li class="active"><a href="/#links"><i class="fa fa-link fa-fw"></i><span class="hidden-xs"> Links</span></a></li>
			</ul>			
		</div>
	</div>
</div>

<div id="tab-content-top-separator" class="container-fluid lvl-nav-tabs-shadow"></div>

<div class="container-fluid lvl-tab-content">
	<div id="section-tab-content" class="tab-content">
		<div class="row">
			<div class="col-xs-6">
				<div class="row">
					<div class="col-xs-12">
        				<a class="btn btn-link hidden" id="show-edition-toolbar-btn"><i class="fa fa-chevron-right fa-fw"></i></a>        
						<div class="btn-group" id="edition-toolbar">
							<a class="btn btn-link" id="hide-edition-toolbar-btn"><i class="fa fa-chevron-left fa-fw"></i></a>
          					<a class="btn btn-link" id="uncheck-btn"><i class="fa fa-square-o fa-fw"></i><span class="hidden-xs"> Deselect</span></a>
          					<a class="btn btn-link" id="upload-btn"><i class="fa fa-upload fa-fw"></i><span class="hidden-xs"> Upload</span></a>          					
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div id="grid-filter-toolbar"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div id="grid-container" class="backgrid-container"></div>
			</div>
		</div>
	</div>
</div>