<div class="row">
	<div class="col-xs-12">
		<h3>Account settings</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-xs-12">
		<form class="form-horizontal">
			<fieldset>
				<legend><%= formattedname %></legend>
				<div class="form-group">
					<label for="inputEmail" class="col-lg-3 control-label">Email</label>
					<div class="col-lg-9">
						<input type="email" class="form-control" id="inputEmail"
							placeholder="Email" value="<%= email %>">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-3 control-label">Old password</label>
					<div class="col-lg-9">
						<input type="password" class="form-control" id="inputPassword1"
							placeholder="Old password">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword2" class="col-lg-3 control-label">New password</label>
					<div class="col-lg-9">
						<input type="password" class="form-control" id="inputPassword2"
							placeholder="New password">
					</div>
				</div>
				<div class="form-group">
					<label for="inputFirstname" class="col-lg-3 control-label">Name</label>
					<div class="col-lg-9">
						<input type="text" class="form-control" id="inputFirstname"
							placeholder="Name" value="<%= firstname %>">
					</div>
				</div>
				<div class="form-group">
					<label for="inputLastname" class="col-lg-3 control-label">Lastname</label>
					<div class="col-lg-9">
						<input type="text" class="form-control" id="inputLastname"
							placeholder="Lastname" value="<%= lastname %>">
					</div>
				</div>



				<div class="form-group">
					<label for="inputInstitution" class="col-lg-3 control-label">Institution</label>
					<div class="col-lg-9">
						<input type="text" class="form-control" id="inputInstitution"
							placeholder="Institution" value="<%= institution %>" />
					</div> 
				</div>
				<div class="form-group">
					<label for="inputInstitutionType" class="col-lg-3 control-label">Institution Type</label>
					<div class="col-lg-9">
						<select class="form-control" id="inputInstitutionType">
							<option value="research" <%= researchSelected %>>Research</option>
							<option value="academia" <%= academiaSelected %>>Academia</option>
							<option value="industry" <%= industrySelected %>>Industry</option>
						</select>
					</div>
				</div>



				<div class="form-group">
					<div class="col-lg-9 col-lg-offset-3">
						<button type="submit" class="btn btn-primary" disabled="disabled">Update</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>