<div class="container lvl-main-container">
  <div id="alertBox" class="row text-center hidden">
    <div class="col-xs-12">
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>Sorry!</strong> The subscription request cannot be processed at this moment. Please revise your input data, wait a few minutes and 
        try submitting again.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-12">
      <div class="well">
        <form id="signupForm" autocomplete="off" novalidate="novalidate">
          <fieldset>
            <legend class="text-center">Sign up to <a class="lvl-login" href="/#home">L<span class="text-danger">ei</span>shVL</a></legend>
            <!-- hack to avoid Chrome to autocomplete this form -->
            <input style="display: none">
            <input type="password" style="display: none">
            <div class="form-group">
              <div class="col-xs-12">
                <input type="text" class="form-control" value="" placeholder="Choose your username" name="username" required autofocus autocomplete="off" />
                <label for="username"></label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-5 col-xs-12">
                <input type="text" class="form-control" value="" placeholder="Name" name="firstname" required autofocus autocomplete="off" />
                <label for="firstname"></label>
              </div>
              <div class="col-md-7 col-xs-12">
                <input type="text" class="form-control" value="" placeholder="Lastname" name="lastname" required autofocus autocomplete="off" />
                <label for="lastname"></label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input type="email" class="form-control" value="" placeholder="Email" name="email" required autocomplete="off" />
                <label for="email"></label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input type="password" class="form-control" value="" placeholder="Create a password" name="password" required autocomplete="off" />
                <label for="password"></label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input type="text" class="form-control" value="" placeholder="Institution" name="institution" required autocomplete="off" />
                <label for="institution"></label>
              </div>
            </div>            
            <div class="form-group">
              <div class="col-xs-12">
                <select class="form-control" name="institution_type">
                  <option value="Research" selected>Research</option>
                  <option value="Academia">Academia</option>
                  <option value="Industry">Industry</option>
                </select>
                <span class="help-block">Institution type</span>
                <label for="institution_type"></label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <button class="btn btn-lg btn-primary" id="sign_up_btn" type="submit">Sign up</button>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <p><small>By signing up you are agreeing to our <a href="#" id="privacy_policy_btn">Privacy Policy</a> and 
                  <a href="#" id="terms_and_conditions_btn">Terms &amp; Conditions</a>.</small></p>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>