<div class="row">
  <div class="col-md-12">        
    <div id="map-container" class="lvl-map"></div>
  </div>
</div>
<div id="map-menu-options" class="toolbar-icons" style="display: none;">
  <a id="map-return-home" href="#" data-toggle="tooltip" data-placement="right" title="Return home"><i class="fa fa-home"></i></a>
  <a id="map-my-location" href="#" data-toggle="tooltip" data-placement="right" title="My location"><i class="fa fa-crosshairs"></i></a>
  <a id="map-export" href="#" data-toggle="tooltip" data-placement="right" title="Export PNG"><i class="fa fa-download"></i></a>
  <a id="map-share" href="#" data-toggle="tooltip" data-placement="right" title="Share"><i class="fa fa-share"></i></a>
</div>
<div id="dummy" style="display: none;"></div>