<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
			<h4 class="modal-title" id="myModalLabel">Execution status</h4>
		</div>
		<div class="modal-body">
			<p>Id: <%= id %></p>
			<p>Progress:			
			<% if (status) { %>
			<%= status.completeness %>
			<% } else { %>
			<% print('0') %>
			<% } %>
			</p>
			<p>Status:			
			<% if (status) { %>
			<%= status.status %>
			<% } else { %>
			<% print('Unknown') %>
			<% } %>
			</p>			
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>