<div class="container lvl-main-container">
  <div id="alertBox" class="row text-center hidden">
    <div class="col-xs-12">
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>Sorry!</strong> <%= alertMessage() %> Please, login and try again.
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-offset-4 col-md-4 col-xs-12">
      <h4>
        Sign in to <a class="lvl-login" href="/#home" >L<span class="text-danger">ei</span>sh VirtLab</a>
      </h4>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-xs-12">
      <div class="panel lvl-login-form">
        <div class="panel-body">
          <form id="signinForm" id="formSignin" autocomplete="on" novalidate="novalidate">
            <div class="login-form">
              <div class="form-group">
                <input type="email" class="form-control login-field" value="" placeholder="Enter email" name="login-email" required autofocus /> <label
                  class="login-field-icon fui-mail" for="login-email"></label>
              </div>
              <div class="form-group">
                <input type="password" class="form-control login-field" value="" placeholder="Password" name="login-pass" required /> <label
                  class="login-field-icon fui-lock" for="login-pass"></label>
              </div>
              <div class="form-group">
                <label class="checkbox" for="login-remember"> <input type="checkbox" class="form-control login-field" value="" name="login-remember"
                  checked="checked" data-toggle="checkbox"> Remember me
                </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
              <p class="text-center">
                <a class="login-link" href="/#account/recovery">Lost your password?</a> <a class="login-link" href="/#register"><i
                  class="fa fa-sign-in"></i> Don't have an account yet? Sign up <strong>now</strong>.</a>
              </p>
              <p class="text-center">- OR -</p>
              <a href="/#authorization/linkedin" class="btn btn-info btn-block" role="button">
                Sign in with Linked <i class="fa fa-linkedin-square"></i>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>