<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<div class="col-md-offset-2 col-md-8 col-xs-12">
					<div class="well well-sm">
						<span class="lead">General</span>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="labeled-chart-container">
							<div class="canvas-holder">
								<canvas id="lvl-chart1" width="220" height="220"></canvas>
							</div>
						</div>
						<p class="text-center">Sources</p>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="labeled-chart-container">
							<div class="canvas-holder">
								<canvas id="lvl-chart2" width="220" height="220"></canvas>
							</div>
						</div>
						<p class="text-center">Geo-referenced</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<div class="col-md-offset-1 col-md-10 col-xs-12">
					<div class="well well-sm">
						<span class="lead">Sandflies</span>
					</div>
					<div class="col-md-offset-1 col-md-10 col-xs-12">
						<div class="labeled-chart-container">
							<div class="canvas-holder">
								<canvas id="lvl-chart3" width="220" height="220"></canvas>
							</div>
						</div>
						<p class="text-center">Genes</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<div class="col-md-offset-1 col-md-10 col-xs-12">
					<div class="well well-sm">
						<span class="lead"> <i>Leishmania</i></span>
					</div>
					<div class="col-md-offset-1 col-md-10 col-xs-12">
						<div class="labeled-chart-container">
							<div class="canvas-holder">
								<canvas id="lvl-chart4" width="220" height="220"></canvas>
							</div>
						</div>
						<p class="text-center">Genes</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>